<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true">
    <variable name="FilePath" value="C:\Logs\ApiTemplate\"/>
    <targets>
      <target name="logfile" xsi:type="File"
                     fileName="${FilePath}/Infomation/${date:format=yyyy-MM-dd}/${date:format=hh tt}.log"
                     layout="${longdate} ${level:uppercase=true} ${message}"/>
      <target name="logError" xsi:type="File"
                    fileName="${FilePath}/Error/${date:format=yyyy-MM-dd}/${date:format=hh tt}.log"
                    layout="${longdate} ${level:uppercase=true} ${message}"/>
      <target name="logTrace" xsi:type="File"
                      fileName="${FilePath}/Trace
                    /${date:format=yyyy-MM-dd}/${date:format=hh tt}.log"
                      layout="${longdate} ${level:uppercase=true} ${message}"/>
    </targets>
    <rules>
      <logger name="*" level="Information" writeTo="logfile" />
      <logger name="*" level="Error" writeTo="logError" enabled="true" />
      <logger name="*" level="Error" writeTo="logTrace" enabled="true"/>
    </rules>
  </nlog>
</configuration>